@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*Kleuren pallet:
Indigo dye: #1D3D54
Falu red: #860E0E
Marmalade Glaze: #623a1f
Graham Cracker:  #C1A47F
Humbrol 130 White: #f7f0f0
White Color: #FFFFFF
*/

.navbar-container{
    height: 100px;
    width: 1512px;
    max-width: 100%;
    display: block;
    box-sizing: border-box;
   /* font-size: 16px;
    line-height: 22px;*/
    text-decoration: none solid #1D3D54;
    font-family: 'Open Sans', sans-serif;
    margin: 2rem auto;
    background-color:  #f7f0f0;
    outline: #1D3D54 dashed 1px;
}

ul{
    padding: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:  #f7f0f0;
}

li{
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none solid #1D3D54;
    word-spacing: 1px;
    text-align: left;
    height: 50px;
    width: 90px;
    padding: 40px 11px 40px 11px;
    background-color:  #f7f0f0;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #1D3D54;
}

nav a:hover{
    color:#623a1f;
    font-weight: normal;
}

nav a:focus {
    color:#860E0E;
    font-weight: bold;
}

img{
    height: 100px;
    width: 100px;
    max-height: 100px;
}

/*
.user-icon{
    width: 2%;
    height: 2%;
}*/

