@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



/*Kleurenpalet:
Kleurpalet 1:
primary- Indigo dye: #1D3D54
secondary- Falu red: #860E0E

primary- Very dark blue: #062948
secondary- Dark orange: #482C06

Kleurpalet 2:
primary - Prussian Blue: #002855
secundary- Baker's Chocolate: #552D00
tertiary- Orange outburst: #D57100

Overig:
Marmalade Glaze: #623a1f
Graham Cracker:  #C1A47F
Humbrol 130 White: #f7f0f0
White Color: #FFFFFF
*/

.footerContainer{
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #f7f0f0;
    background-color: #062948;
    padding: 25px 30px;
    line-height: 10px;
    margin: 10px 0 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

}

.footerContentLink{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #f7f0f0;
    text-decoration: none;
}
.footerContainerTwo{
    padding-left: 60%;
}

.footerContentCopy{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
